@media (max-width: 768px) {
  .header {
    height: 60px;
    background-size: cover;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 600px;
    background-size: cover;
  }
}

@media (min-width: 1025px) {
  .header {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 10;
    background: transparent;
  }
}
