.banner {
  position: relative;
  background: url('../../../../public/images/banner.png') no-repeat center
    center;
  height: 795px;
  background-size: cover;
  margin-bottom: 300px;

  .triangle {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-right: 100vw solid #fff;
    border-bottom: 0px solid transparent;
  }
}
